body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e5ec;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #b7d7d2;
    color: #333;
    padding: 1rem;
    text-align: center;
    width: 100%;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    border-radius: 20px;
    
}

#welcome-message {
    margin-top: 0.25rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    background-color: #f0f0f3;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #bebebe, -4px -4px 10px #ffffff;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #e0e5ec;
    box-shadow: inset 4px 4px 10px #bebebe, inset -4px -4px 10px #ffffff;
}

main {
    width: 90%;
    max-width: 1200px;
    padding: 1rem;
}

section {
    background-color: #f0f0f3;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

section h2 {
    margin-top: 0;
}
